/*
$font-stack: Helvetica, Arial, sans-serif;
$superdark: #0C4743;
$dark: #2F685F;
$dark2 = #276A61;
$midtone: #719D9A;
$light: #DDEAE9;
$superlight: #D0E3E7;
$forebackground: #DDEAE9;
$white: #FFFFFF;
*/

#map {
    width:100%;
    height:300px;
}

#map-filter-controls {

}
@media (min-width: 992px) {
	#map-container {
		max-width:1200px;
		margin : 3em auto;
		width:920px;
	}
}

#map-container a {
    color:#276A61;
}
#map-container .row {margin:.5em 0;}
#map-results-container {

}

.map-results-each {
    padding:1em 0;
	border-bottom:1px solid #C6D2D1;
}

.map-results-each a {
	text-decoration:underline;	
}

div.result-right {
	line-height:2em;
	padding-top:1em;
	padding-right:0;
	padding-left:0;
	
}

div.result-right a {
font-size:.9em;	
}

div.map-results-each > div.result-date {
    text-align: left;
    margin-top:1em;
	padding-left:0;
	padding-right:0;
}

div.map-results-each h3 {
	font-size:22px;
}

.map-results-each .event-address {
	font-size:12px;
}

.result-date>ul {
    background-color:#276A61;/*dark2*/
    border-radius:.5em;
    list-style: none;
    position: relative;
    border:1px solid #B9D1C3;
    margin:0px auto;
    width:80%;
    color:#fff;

    
}


.result-date>ul>li:nth-of-type(1){
    font-size:1.2em;
    margin-top:1em;
    line-height: 1em;
	text-transform:uppercase;
}
.result-date>ul>li:nth-of-type(2){
    font-size:2em;
    line-height: 1.2em;
}
.result-date>ul>li:nth-of-type(2)>b {
	margin-right:.1em;
}
.result-date>ul>li:nth-of-type(2)>sup,
.result-date>ul>li:nth-of-type(2)>sub {
    font-size:.4em;
    left:0;
    position:relative;
}
.result-date>ul>li:nth-of-type(2)>sup{
    top:-1em;
}
.result-date>ul>li:nth-of-type(2)>sub {
    left: -1em;
    bottom: auto;
}
.result-date>ul>li:nth-of-type(3){
    font-size:1em;
    line-height: 1em;
    margin-bottom:1em;
	padding-left:.2em;
}
.result-date>ul>li:nth-of-type(4){
    display: none; /*alternative display option*/
}

.rm-ico {
	background-repeat:no-repeat;
	padding-left:20px;
	}

.ico-eye {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMi8yMC8xNs9QMcMAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAABGElEQVQ4jdXTTytEURgG8N9gY6sUGyt1yzcgmqL5ANSspNxY3VJKWRJLpazuTlfZTJEvMFGifAN1tlZK2VpNY+GM7tyGFBtvnd6n55z3T+/znlq32/UbG/pV9F8kqFWJJEtHsYZFzEb6ATc4D3nxNjBBkqXDWMdBpHZwH/E8jiPex1nIi85ngiRLx3CFOgLmQl68Vjobwx1mcIuVkBevtSRLp3GNqfi2GfLiMsnSOo4itxvy4jbJ0uVYCJ6wNIJWKRja0bcwUcKTpTsxpvWdCp0vcNmeh7Aa2+nZYvSbeI5nM3KN0rsnbPWGOI4LH0N8xMIPhtgMefFSlXEDe5Ha1i/jScSHOO2TsVKpt0gN/YvUNmiR/v9negeuAVY6vQnJLQAAAABJRU5ErkJggg==);
	}

.ico-check {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMi8yMC8xNs9QMcMAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAABFUlEQVQ4jb2TsUpDQRBFz/OBH2BrJQgDfoCtghCwFBRsFAe7wQ/wD6ysAlsFtrK2tYwoWgUEsVgQBMEqEHhVyrVwX9hsDBhEbzeXuXfmMkwVY+RfIKa1mG62dYyRGCNLC3j0gAcx3c/JHxmIaQ84AWrgSkz3ZgzEtJ4j7gKnGbUMHE0ZiKkAL3nGxF8CZ4XnDXDYFpWYrgN9YBVogJ3g/EBML4DzQnwL7Abnx+31KjHtA1tZ0wi4LtYGuAc6wfkxfF2hjXAMvGeNK9+IH9vJBU+Vsq4BdylGiUGK1eRkvgHB+TdgG/goxE9p7YY5mJwxOP8KdIBhop6TeDRPPImQQ0w3AAccBOeHs5LpCNVvn2mRX/gbg0+pZF8RLIwRfgAAAABJRU5ErkJggg==);
	}

.ico-car {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMi8yMC8xNs9QMcMAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAABJklEQVQ4jaXTsUoEMRAG4G/P48BCrGwFQQgIB3ZibWlrLSx2+wT6BPoEa7mFKL6BhQiKB4KVcCBsJQiCKIg2ijZncVkIKOeCAyFMZv5//skk2Wg08h/LUicU+RI2MI9lLMTQHW5wj4O6rO5+EIQin8MTrnGEWwxjuB/XFhYxU5fVF3QTAX081GW18ovSR5yGIt/HK0JD3kmSlnA1qd+6rD5iK8vNWScU+WeiYDCJINpVzBWK/L2DXkIwUUFC0CiY7mIYiryZ5U0LggGOI2aYhSJfxyFmW4BTe8Nm11j6LFYwjfM/gGtxP8NqOsYeplpU7qVOSnDZAgwnqdMxvriXluDUXnCRQSjybexCXVbZJFQysb26rHaal/gW9+cWlZucR8j++52/AZvqS1KFXruIAAAAAElFTkSuQmCC);
	}
	
.ico-x {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAK6wAACusBgosNWgAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMTIvMjAvMTbPUDHDAAABAklEQVQ4jaWTS4rCQBRFT7QnglupBRQEpBw0BBwFXIrgWHA1DUKDIDgwBAJZQLYi1LAc+J7GSqW7sS8EUp9zePXLQgj8Jx/9RtW1C2ADrJ2xPhqbAQdg74xttD/TCgQ+ATPgAqxUIvAZyAEPfKokCyFQde0SOAqsuQAr+VdY44HCGVvrEjYRDLCUiqYRjMzdAvVEOkqgZphFAkbmlgATAFlrMSJJwYXuj1bwV8kL/CLoZfqDYDD2EFRdO2e423Fy4CzH+hQIfPoFTkq0gsMIXANNoj8HvvuCHffLEcOFfLHEC/M4xkYm+j7sjPXO2GskGV5ljbyHLVAmHtMc+GLsMb2bG2PgZ7tmCqipAAAAAElFTkSuQmCC);
}

.close-x>i {visibility:hidden;}
.close-x {height:16px;}
	
.btn-register {
	border:1px solid #C7D8D6;
	border-radius:5px;

	display:inline-block;
	padding:10px 25px 10px 35px;
	background-position:10px 50%;
	text-decoration:underline;
	-webkit-transition: background-color 0.5s ease-in-out;
  	transition: background-color 0.5s ease-in-out;
}

.btn-register:hover{
	background-color:#fff;	
}
	
table .btn {
    border: 0px solid transparent;
}

.uib-day > button:not(:disabled) {
	background:#E9F0EF;
}


.uib-day > button:not(:disabled):hover {
	background:#F1EEDA;
}

.uib-day > button:not(:disabled)>span {
	color:#000;
}


button.btn-custom {
	background-color:#EEE;
}

button.btn-custom .glyphicon-calendar::before {
	content: url('data:image/gif;base64,R0lGODlhDQAOAIAAAGZmZv///yH5BAEHAAEALAAAAAANAA4AAAIgTIB2qXD9lkNUVpqw3sxF3xmgyHHi+Y0fWWqoGq5WCxQAOw==');	
}

button.btn-custom>.ico {
	opacity:.5;
}

#programModal {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;	
	display:none;
	opacity:0;
	z-index:1100;
	pointer-events: none;
}

.modal-vis {
	background-image:linear-gradient(162deg,rgb(223,234,233) 0%,rgb(255,255,255) 75%,rgb(255,255,255) 100%);
	width:100%;
	max-width:540px;
	height:90%;
	box-shadow:0px 0px 4px rgba(0,0,0,0.65);
	margin:auto auto;
	z-index:1200;
    position: fixed;
	left:50%;
	top:50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
  font-size:.9em;
  line-height:145%;
   padding: .3em;
   border-radius:.5em;
   pointer-events: auto;
}

.modal-content-container {
    height: calc(100% - 3.5em);
    overflow-y: scroll;
    padding: 1.5em;	
}

.modal-vis:after {
	display:block;
	width:100%;
	height:27px;
	position:relative;
	top:-25px;
	background-image: linear-gradient(180deg,rgba(255,255,255,0) 0%,rgba(255,255,255,100) 100%);
    content: " ";
}

.modal-vis>div:nth-of-type(1){
	line-height:100%;
	font-weight:bold;
	padding:.5em;
	color:rgb(53,97,90);
	text-align:center;
}

#modalOverlay {
	/*background:#fff;
	opacity:.5;*/	
	display:block;
	width:100%;
	height:100%;
	opacity: 1;
	transition: opacity 0.3s;
	background: rgba(255, 255, 255, 0.6);
}

#programModal.modal-show {
	display:block;
	position:fixed;
	z-index:1200;
	opacity: 1;
}

.modal-vis h1 {
	font-size:1.5em;
	line-height:120%;
	color:rgb(38,106,96);
}
.modal-vis h2 {
	font-size:1em;
	color:#0C3F36;
	font-weight:bold;
	line-height:100%;
}

#programModal.modal-show .modal-vis,
#programModal.modal-hide .modal-vis {
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}



#programModal.modal-show .modal-vis {
	animation-name: anim-open;
}
#programModal.modal-hide .modal-vis {
	animation-name: anim-close;
}


@keyframes anim-open {
	0% { opacity: 0; transform: translate(-50%, -50%); }
	100% { opacity: 1; transform: translate(-50%, -50%);}
}

@keyframes anim-close {
	0% { opacity: 1; transform: translate(-50%, -50%);}
	100% { opacity: 0; transform: translate(-150%, -50%); }
}

