// out: rm-map-pa.css
//rgb(221,234,233)
@superdark: #173d5b;//#0C4743;//#173d5b
@dark: #375D7B;//#276A61;//#375D7B
@midtone: #719D9A;//
@light: #b9d3e3;//#B9D1C3;//#b9d3e3
@superlight: #d6e5ef;//#C7D8D6;//#d6e5ef
@forebackground: #DDEAE9;
@white: #FFFFFF;
@black: #000000;
@line: #C6D2D1;
@spot: #43246C;
@gold: rgb(156,144,60);
@special:linear-gradient(255deg,@dark 0%,@dark 14%,@superdark 15%,@dark 19%,@spot 20%,@spot 100%);

@import "icons-pa.less";

@import "rm-map-main.less";
