// out: rm-map-mm.css
/* CSS for RM Program finder with MMLIS colors */
@superdark: #0C4743;//#173d5b
@dark: #276A61;//#375D7B
@midtone: #719D9A;//
@light: #B9D1C3;//#b9d3e3
@superlight: #C7D8D6;//#d6e5ef
@forebackground: #DDEAE9;
@white: #FFFFFF;
@black: #000000;
@line: #C6D2D1;
@spot: #43246C;
@gold: rgb(156,144,60);
@special:linear-gradient(255deg,@dark 0%,@dark 14%,@superdark 15%,@dark 19%,@spot 20%,@spot 100%);
	//linear-gradient(120deg,@superlight 0%, @superdark 10%,@dark 15%,@dark 100%); 

@import "icons-mm.less";

@import "rm-map-main.less";