/*
$font-stack: Helvetica, Arial, sans-serif;
$superdark: #0C4743;
$dark: #2F685F;
$dark2 = #276A61;
$midtone: #719D9A;
$light: #DDEAE9;
$superlight: #D0E3E7;
$forebackground: #DDEAE9;
$white: #FFFFFF;
*/

#map {
    width:100%;
    height:300px;
}

#map-filter-controls {

}

#map-container {
    max-width:1200px;
    margin : 3em auto;
}

#map-container a {
    color:#276A61;
}

#map-results-container {
    padding:2em 0;
}

.map-results-each {
    padding:1em 0;
}

.result-date {
    text-align: left;
    
}

.result-date>ul {
    background-color:#276A61;/*dark2*/
    border-radius:.5em;
    list-style: none;
    position: relative;
    border:1px solid #B9D1C3;
    margin:0px auto;
    width:80%;
    color:#fff;
    
}


.result-date>ul>li:nth-of-type(1){
    font-size:1.2em;
    margin-top:1em;
    line-height: 1em;
}
.result-date>ul>li:nth-of-type(2){
    font-size:2em;
    line-height: 1.2em;
}
.result-date>ul>li:nth-of-type(2)>sup,
.result-date>ul>li:nth-of-type(2)>sub {
    font-size:.4em;
    left:0;
    position:relative;
}
.result-date>ul>li:nth-of-type(2)>sup{
    top:-1em;
}
.result-date>ul>li:nth-of-type(2)>sub {
    left: -1em;
    bottom: auto;
}
.result-date>ul>li:nth-of-type(3){
    font-size:1em;
    line-height: 1em;
    margin-bottom:1em;
}
.result-date>ul>li:nth-of-type(4){
    display: none; /*alternative display option*/
}

.rm-ico {}

.ico-eye {}