<html>
<head>
    
    <link href="css/bootstrap.min.orig.css" rel="stylesheet">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/textAngular.css">
    <script>
        function google_init(){
            
            //start app on google load
            console.log("gmap init");
            
        }
        
    </script>

    <style>
    .editor-view {
            margin-top: 5em;
    }

    .map-results-container {
        margin-top:1em;
        border-bottom:1px solid #ddd;
    }
    .event-btn-grp{
        padding-bottom:1em;
        border-bottom:1px solid #ddd;
    }
    </style>
    
<title>MMLIS RM Program Finder</title>
</head>
<body>

<div id="map-container" class="container" data-ng-app="rm_data" data-ng-controller="data_ctrl">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">RM Data Editor</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav nav_">
        <li id="nav_events"><a href="#!/events/"> Events </a></li>
        <li id="nav_topics"><a href="#!/topics/"> Topics </a></li>
        <li id="nav_locations"><a href="#!/locations/"> Locations </a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




    <div ng-view class="editor-view"> view </div>
        
    <!-- Modal -->
    <div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Event</h4>
          </div>
          <div class="modal-body">
                <div class="map-results-each row">
                    <div class="result-date col-sm-3">
                        <input ng-model="newEvent.date" class="form-control shadow" placeholder="Date" type="date">

                    </div>

                    <div class="col-sm-6">


                        <select class="form-control shadow" data-live-search="true" ng-model="newEvent.topic" ng-options="topic.id as topic.title for topic in eventData.topics">

                        </select>


                        <br>
                        <select class="form-control shadow" data-live-search="true" ng-model="newEvent.location" ng-options="location.id as location.locationName for location in eventData.locations">
                        </select>
                    </div>

                    <div class="col-sm-3">
                        <input ng-model="newEvent.code" class="form-control shadow" placeholder="Code"><br>
                        <input ng-model="newEvent.url" class="form-control shadow" placeholder="Register URL">
                    </div>


                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="addNewEvent()" data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>
        
        
        
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
    <script src="js/ui-bootstrap-tpls-2.3.2.min.js"></script>
    <script src="js/bootstrap.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-rangy.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-sanitize.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular.min.js"></script>
    <script src="data/event-data-editor.json"></script>

    <script>
        var dataLoaded = false;
        var app = angular.module('rm_data', ['ui.bootstrap', 'ngSanitize',  'ngRoute','angularTrix','textAngular']);
        app.controller('data_ctrl', function($scope, $http, $filter, $sce) {
            
            //consider better method of handling data
            //if the data is already loaded into eventData, don't load it again on template update
            if(!dataLoaded){
                $http.get("data/event-data.json").then(function (response) {
                    $scope.eventData = response.data;
                    //convert date strings into date objects
                    for(var i = 0; i < $scope.eventData.events.length; i++){
                        $scope.eventData.events[i].date = $scope.quickDate($scope.eventData.events[i].date);
                    }
                    dataLoaded = true;
                });
            }
            
            $scope.trix = '<div>Enter Text</div>';
            
             var events = ['trixInitialize',/* 'trixChange', */'trixSelectionChange', 'trixFocus', 'trixBlur', 'trixFileAccept', 'trixAttachmentAdd', 'trixAttachmentRemove'];
            for (var i = 0; i < events.length; i++) {
                $scope[events[i]] = function(e) {
                    console.info('Event type:', e.type);
                }
            };
            
            $scope.trixChange = function(e){
                console.log("trix change", $scope.editTopic, $scope.eventData.topics[$scope.editTopic].description.overviewHtml);
            }
            
            
            $scope.newEvent = null;
            $scope.newTopic = null;
            $scope.editTopic = null;
            $scope.editTopicTitle = null;
            $scope.editTopicPresented = null;
            $scope.editTopicRegisterUrl = null;

            $scope.setNav = function(section){
                $(".nav_ > li").removeClass("active");
                $("#nav_"+section).addClass("active");
            }
            
            $scope.getTopic = function(rel){
                return $scope.eventData.topics[rel];
            }
            
            $scope.getCurrent = function(rel){
                return $index;
            }
            
            $scope.getTopics = function(){
                return $scope.eventData.topics;
            }
            
            $scope.setTopicDescription = function(){
                $scope.trix = $scope.eventData.topics[$scope.editTopic].description.overviewHtml;

            $scope.editTopicTitle = $scope.eventData.topics[$scope.editTopic].title;
            $scope.editTopicPresentedBy = $scope.eventData.topics[$scope.editTopic].description.presentedBy;
            $scope.editTopicRegisterUrl = $scope.eventData.topics[$scope.editTopic].descriptionURL;


            }
            
            $scope.saveTopicDescription = function(){

                if(confirm("Update Topic Information?")){
                    $scope.eventData.topics[$scope.editTopic].description.overviewHtml = $scope.trix;
                    
                    $scope.eventData.topics[$scope.editTopic].title = $scope.editTopicTitle;
                    $scope.eventData.topics[$scope.editTopic].description.presentedBy = $scope.editTopicPresentedBy;
                    $scope.eventData.topics[$scope.editTopic].descriptionURL = $scope.editTopicRegisterUrl;
                }

            }
            
            $scope.getLocation = function(rel){
                return $scope.eventData.locations[rel].facility;
            }
            
            $scope.showAddEvent = function(){
                $scope.newEvent = {id:'',location:'',date:'',code:'',url:''};
            }
            
            $scope.quickDate = function(str){
                return new Date(str);
            }
            
            $scope.addNewEvent = function(){
                $scope.eventData.events.push($scope.newEvent);
                //$scope.$apply();
            }

            //Watch output/display data change
            $scope.$watchCollection('eventData', function(newData, oldData) {
                //$scope.$apply();
                console.log("data change");
            });
            
            $scope.confirmDeleteEvent = function(obj){
                console.log("deleting event", obj, $scope.eventData.events[$scope.eventData.events.indexOf(obj)]);
                $scope.eventData.events.splice($scope.eventData.events.indexOf(obj),1);
                //$scope.$apply();
            }
            
            $scope.eventTopicMatch = function(rel){
                
                return $scope.getTopic[rel].concat($scope.getLocation(rel));
            }
            
            //Watch output/display data change
			$scope.$watchCollection('eventData.events.date', function(newData, oldData) {
				console.log("date change", newData, oldData);
			});
            
            $scope.$watchCollection('trix', function(newData, oldData) {
				console.log("trix change", $scope.editTopic);
                
			});

            
        });




var routeParams = [];
/* Routes */
app.config(['$routeProvider',
  function($routeProvider) {
    $routeProvider.
      when('/locations/:locationId?', {
        templateUrl: 'partials/locations.html',
        controller: 'data_ctrl'
      }).
      when('/topics/:topicId?', {
        templateUrl: 'partials/topics.html',
        controller: 'data_ctrl'
      }).
      when('/events/', {
        templateUrl: 'partials/events.html',
        controller: 'data_ctrl'
      }).
      otherwise({
        templateUrl: 'partials/events.html',
        controller: 'data_ctrl'
      });
  }]);
  
  /*app.factory('dataService', function() {
        var portfolioData = {};
        return {
            getData:function(){return portfolioData;},
            setData:function(data){portfolioData=data;}
        };
    });*/

/*  portfolioApp.directive('sample', function () {
    return {
        restrict: "E",
        replace: true,
        transclude: true,
        template: "<div></div>",
        controller: function ($scope, $element) {
            this.act = function (something) {
               $($element).trigger("imageModal.launch", [something]);
            };
        }
    };
})*/

/*function ContactController($scope, $routeParams){ 
    $scope.contactSubmit = function(id, session){
        console.log("session id - prevent spam with timer", session);
        console.log(document.getElementById(id));
    }
}*/


/* Controllers */
var dataControllers = angular.module('dataControllers', []);
dataControllers.controller('locationsControl', ['$scope', '$http', '$routeParams', 
  function($scope, $http, $routeParams, dataService) {
        /*$http.get('data/portfolio.json').success(function(data) {
          $scope.workItems = _.where(data, {"category" : $routeParams.subCategory || "web"});
          jsonData = data;
        });*/

    $scope.orderProp = 'id';
    $scope.category = $routeParams.locationId;
    routeParams = $routeParams;
    console.log("category", $scope.category);
  }]);

dataControllers.controller('topicsControl', ['$scope','$http', '$routeParams', '$sce',
  function($scope, $http, $routeParams, $sce) {
        /*$http.get('data/portfolio.json').success(function(data) {
          first = _.where(data, {"id" : $routeParams.itemId});
          second = _.where(first[0].images, {"id" : $routeParams.mediaId});
          $scope.gallery = first[0].images;
          $scope.dataItem = second[0];
          $scope.trustedURL = $sce.trustAsUrl($scope.dataItem.fullUrl);
        }); */
    $scope.orderProp = 'id';
    $scope.category = $routeParams.topicId;
    routeParams = $routeParams;
    console.log("category", $scope.category);
    
    
  }]);

    </script>
    


    
</body>