<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/rm-map.css">
    <link href="css/bootstrap.min.orig.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css">
    <script>
        function google_init(){
            
            //start app on google load
            console.log("gmap init");
            
        }
        
    </script>
    
<title>MMLIS RM Program Finder</title>
</head>
<body>
      
        </div>
	<div id="map-container" data-ng-app="rm_data" data-ng-controller="data_ctrl">
		<div class="row">
            <div class="col-sm-4">
                <button class="btn btn-success btn-block" id="add_event" data-toggle="modal" data-target="#addEventModal" ng-click="showAddEvent()"><span class="glyphicon glyphicon-plus pull-left" ></span> Add Event </button>
            </div>
      
		<div id="map-results-container" ng-repeat="event in (eventData.events | orderBy: 'date')">
			<div class="map-results-each row">
                <div class="result-date col-sm-2">
                    <input ng-bind="(event.date | date : 'yyyy-MM-dd')" class="form-control shadow" placeholder="Date" type="date" value="{{event.date | date : 'yyyy-MM-dd'}}">
                    
                </div>

				<div class="col-sm-7">

                    
                    <select name="topic_select" id="topic-select" class="form-control shadow" data-live-search="true" ng-model="event.topic" ng-options="topic.id as topic.title for topic in eventData.topics">
                     
                    </select>
                    
                    
					<br>
                    <select name="location_select" id="location-select" class="form-control shadow" data-live-search="true" ng-model="event.location" ng-options="location.id as location.locationName for location in eventData.locations">
                    </select>
				</div>

				<div class="col-sm-3">
					<input ng-model="event.code" class="form-control shadow" placeholder="Code"><br>
					<input ng-model="event.url" class="form-control shadow" placeholder="Register URL">
                    <br>
                    <button class="btn btn-danger btn-sm pull-right" id="rm_event" ng-click="confirmDeleteEvent($index)"><span class="glyphicon glyphicon-remove-sign pull-left"> </span>&nbsp; Remove </button>
				</div>


			</div>
		</div>
        
        <textarea rows="40" style="width:100%">{{eventData | json}}</textarea>
        
<!-- Modal -->
<div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Event</h4>
      </div>
      <div class="modal-body">
			<div class="map-results-each row">
                <div class="result-date col-sm-3">
                    <input ng-model="newEvent.date" class="form-control shadow" placeholder="Date" type="date">
                    
                </div>

				<div class="col-sm-6">

                    
                    <select class="form-control shadow" data-live-search="true" ng-model="newEvent.topic" ng-options="topic.id as topic.title for topic in eventData.topics">
                     
                    </select>
                    
                    
					<br>
                    <select class="form-control shadow" data-live-search="true" ng-model="newEvent.location" ng-options="location.id as location.locationName for location in eventData.locations">
                    </select>
				</div>

				<div class="col-sm-3">
					<input ng-model="newEvent.code" class="form-control shadow" placeholder="Code"><br>
					<input ng-model="newEvent.url" class="form-control shadow" placeholder="Register URL">
				</div>


			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="addNewEvent()" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
        
        
        
	</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
    <script src="js/ui-bootstrap-tpls-2.3.2.min.js"></script>
    <script src="js/bootstrap.js"></script>

    <script src="data/event-data-editor.json"></script>

    <script>
        
        var app = angular.module('rm_data', ['ui.bootstrap', 'ngSanitize']);
        app.controller('data_ctrl', function($scope, $http, $filter, $sce) {
            //$http.get("http://www.w3schools.com/angular/customers.php")            .then(function (response) {$scope.names = response.data.records;});
            
            $scope.eventData = events;
            //console.log($scope);
            
            
            
            
            $scope.newEvent = null;
            
            $scope.getTopic = function(rel){
                return $scope.eventData.topics[rel];
            }
            
            $scope.getCurrent = function(rel){
                return $index;
            }
            
            $scope.getTopics = function(){
                return $scope.eventData.topics;
            }
            
            $scope.getLocation = function(rel){
                return $scope.eventData.locations[rel].facility;
            }
            
            $scope.showAddEvent = function(){
                $scope.newEvent = {id:'',location:'',date:'',code:'',url:''};
            }
            
            $scope.quickDate = function(str){
                return new Date(str);
            }
            
            $scope.addNewEvent = function(){
                $scope.eventData.events.push($scope.newEvent);
            }
            
            $scope.confirmDeleteEvent = function(index){
                $scope.eventData.events.splice(index,1);
            }
            
            $scope.eventTopicMatch = function(rel){
                
                return $scope.getTopic[rel].concat($scope.getLocation(rel));
            }
            
            //Watch output/display data change
			$scope.$watchCollection('eventData.events.date', function(newData, oldData) {
				console.log("date change", newData, oldData);
			});
          /*  for(var i = 0; i < $scope.eventData.events.length; i++){
                $scope.eventData.events[i].date = $scope.quickDate($scope.eventData.events[i].date);
                console.log("date parse", $scope.eventData.events[i].date);
            }*/
        });

    </script>
    


    
</body>