<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.16/textAngular.css">
    <style>
    .message-view {
            margin-top: 5em;
    }

    .map-results-container {
        margin-top:1.5em;
        border-bottom:1px solid #ddd;
    }
	
    .event-btn-grp{
        padding-bottom:1em;
        border-bottom:1px solid #ddd;
		margin-bottom:1em;
    }
	
	.toggle-hidden{
		visibility:hidden;
		display:none;
	}
	.toggle-show {}
	
	#locMap {
		width:100%;
		height:200px;	
	}

	.result-date {
		position: relative;
		top:-2.75em;
	}
	.result-date h5 {
		margin-bottom:1em;
		font-weight:bold;

	}
	.result-date h5>span {
		color:#555;
		position:relative;
		left:1em;
		background-color: #fff;
		padding: .25em 1em;
		border:1px solid #ddd;
		border-radius:1em;
	}

	.map-results-each:hover .result-date h5>span {
		color:#111;
		background-image:linear-gradient(180deg,rgb(255,255,255) 0%,rgb(191,223,255) 100%);
	}
</style>
    
<title>RM Program Finder - Data Editor</title>
</head>
<body>

<div id="map-container" class="container" data-ng-app="rm_data" data-ng-controller="data_ctrl">

	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">RM Data Editor</a>
		</div>

		<!-- nav links toggle -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav nav_">
			<li id="nav_events"><a href="#!/events/"> Events </a></li>
			<li id="nav_topics"><a href="#!/topics/"> Topics </a></li>
			<li id="nav_locations"><a href="#!/locations/"> Locations </a></li>
		  </ul>

		  <ul class="nav navbar-nav navbar-right">
			<li><a href="#" class="" ng-click="saveExport()"><span class="glyphicon glyphicon-floppy-save" ></span> Download JSON</a></li>
			<li><a href="#" class="" ng-click="fileOpen()"><span class="glyphicon glyphicon-open-file" ></span> Open JSON</a></li>
		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class="{{message.class}} message-view" role="alert">{{message.text}}</div>

	<div ng-view class="editor-view"> view </div>

        
</div>

<p>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.16/textAngular-rangy.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.16/textAngular-sanitize.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.16/textAngular.min.js"></script>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLahhfoVtxfV4AIjS-3v8MXCb-zn2ggH8"></script>
</p>
<p>&nbsp; </p>
    
<script>
var dataLoaded = false;
var map = null;
var app = angular.module('rm_data', ['ui.bootstrap', 'ngSanitize',  'ngRoute','textAngular']);
app.controller('data_ctrl', function($scope, $http, $filter, $sce) {
	
	//if the data is already loaded into eventData, don't load it again on template update
	if(!dataLoaded){
		$http.get("data/event-data-blank.json").then(function (response) {
			$scope.eventData = response.data;
			//convert date strings into date objects on data load
			convertDates();//not really needed for blank data set
			dataLoaded = true;
		});
	}

	//HTML Editor model
	$scope.trix = '<div>Enter Text</div>';            

	//models for new/blank items before being added to eventData
	$scope.newEvent = {};
	$scope.newTopic = null;
	$scope.newLocation = null;

	//temporary for data editing before saving to eventData
	$scope.editTopic = 0;
	$scope.editTopicTitle = null;
	$scope.editTopicPresented = null;
	$scope.editTopicRegisterUrl = null;

	//event types 1,2,3,4
	$scope.eventTypes = ["Event", "Event Special", "Home Study", "Online Course"];

	// Messages
	$scope.message = {"class":"", "text":""};   

	// Toggles for editor visibility
	$scope.tog = {hide:"toggle-hidden", show:"toggle-show"};
	$scope.editShowHide = $scope.tog.hide;			


//======================================================
//  UI Message
//======================================================
	/**
	* Set UI message and set alert type
	*/
	$scope.setMessage = function(alertType, alertMessage){
		//types success info warning danger
		$scope.message.class = "alert alert-" + alertType;
		$scope.message.text = alertMessage;
	}

	/**
	* Clear UI message
	*/
	$scope.clearMessage = function(){
		$scope.message.class = "";
		$scope.message.text = "";
	}

	/**
	* Watch eventData for changes
	* Update UI message based on data checks
	*/
	$scope.$watch('eventData', function(newData, oldData) {
		$scope.clearMessage();
		if(angular.isDefined(newData)){
			if(!angular.isDefined(newData.topics) || newData.topics.length === 0){
				$scope.setMessage("warning", "No Topics found. Open a JSON data file, or add a Topic to attach to an Event.");
			}
			if(!angular.isDefined(newData.locations) || newData.locations.length === 0){
				$scope.setMessage("warning", "No Locations found. Open a JSON data file, or add a Location to attach to an Event.");
			}
			if(!angular.isDefined(newData.events) || newData.events.length === 0){
				$scope.setMessage("warning", "No Events found. Open a JSON data file, or add an Event to start.");
			}
		}

	},true);


//======================================================
//  Nav Toggle
//======================================================
	/**
	* Toggles style for navigation button
	* (<h2 ng-init> in partials/templates)
	*/
	$scope.setNav = function(section){
		$(".nav_ > li").removeClass("active");
		$("#nav_"+section).addClass("active");
	}

//======================================================
//  File IO
//======================================================
	/**
	* Convert data for export and prompt file save
	* (Button "Open JSON")
	*/
	$scope.saveExport = function(){
		var json = JSON.stringify($scope.eventData);
		var blob = new Blob([json], {type: "application/json"});
		var url  = URL.createObjectURL(blob);

		var a = document.createElement('a');
		a.download    = "education-programs-" + $filter('date')(new Date(),'yyyy.MM.dd') + ".json";
		console.log(a.download);
		a.href        = url;
		a.textContent = "download";
		a.click();
	}

	/**
	* Creates file upload field and parse loaded json
	* (Button "Open JSON")
	*/
	$scope.fileOpen = function(){
		var element = document.createElement('div');
		element.innerHTML = '<input type="file">';
		var fileInput = element.firstChild;

		fileInput.addEventListener('change', function() {
			var file = fileInput.files[0];

			if (file.name.match(/\.(txt|json|js)$/)) {
				var reader = new FileReader();
				var tmpTest = {};
				reader.onload = function() {
					//try to parse the file loaded
					try{
						tmpTest = JSON.parse(reader.result);
						if(angular.isDefined(tmpTest.events) && angular.isDefined(tmpTest.locations) && angular.isDefined(tmpTest.topics)){
							// on data load
							$scope.$apply(function(){
								$scope.eventData = tmpTest;
								convertDates();//convert date strings into date objects
							});
						}else{
							throw "improper format";
						}
					}catch(err){
						alert("Unable to render file, improper data format.");
					}
				};
				try{
					reader.readAsText(file);
				}catch(err){
					alert("This does not appear to be a text file.");
				}

			} else {
				alert("File not supported, .txt, .js or .json files only");
			}
		});	
		fileInput.click();
	}

	
	/**
	* Date conversion options if needed.
	* @param {String}
	* @return {Date}
	*/
	$scope.quickDate = function(str){
		return new Date(str);
	}

	/**
	* Convert Event date strings into date objects on data load.
	*/
	function convertDates(){
		for(var i = 0; i < $scope.eventData.events.length; i++){
		   $scope.eventData.events[i].date = $scope.quickDate($scope.eventData.events[i].date);
		}
	}


});

//======================================================
//  Events Controller
//======================================================
angular.module("rm_data").controller("event_ctrl", function($scope, $http, $filter, $sce){

	/**
	* Open modal for adding a new Event
	* (Button "Add Event")
	*/
	$scope.showAddEvent = function(){
		$scope.newEvent = {
			id:Date.now(),
			location:'',
			date:new Date(),
			code:'',
			url:'',
			type:"1"
		};
	}

	/**
	* Add a new event (Button "Save")
	*/
	$scope.addNewEvent = function(){
		if($scope.newEvent.type>2){
			$scope.newEvent.homeStudy=true;//set flag for homeStudy (No Location attachment)
		}
		$scope.eventData.events.push($scope.newEvent);
		$scope.newEvent = {}; //reset to blank
	}

	/**
	* Delete event on confirm (Button "Remove")
	*/
	$scope.confirmDeleteEvent = function(obj){
		if(confirm("Remove this event?")){
		   $scope.eventData.events.splice($scope.eventData.events.indexOf(obj),1);
		}
	}

	/**
	* Returns the type of event for eventTypes
	* if no event type defined, use default "1"
	* @param {Integer}
	* @returns {Number}
	*/
	$scope.getEventType = function(type){
		if(type == null || typeof type == "undefined"){
			return "1";
		}else {
			return type;
		}
	}

	/**
	* Returns Event Type Name 
	* @param {Integer}
	* @returns {String}
	*/
	$scope.getEventTypeName = function(type){
		return $scope.eventTypes[parseInt($scope.getEventType(type))-1];
	}
			
});

//======================================================
//  Topics Controller
//======================================================
angular.module("rm_data").controller("topic_ctrl", function($scope, $http, $filter, $sce){

	/**
	* Adds a blank topic to eventData.topics
	* (Button "New Topic")
	*/
	$scope.newTopic = function(){
		var newTop = {
		  "id": Date.now(),
		  "title": "New Topic",
		  "descriptionURL": "",
		  "description": {
			"presentedBy": "",
			"overviewHtml": "Overview.."
			}
		};
		$scope.eventData.topics.push(newTop);
		$scope.editTopic = $scope.eventData.topics.indexOf(newTop) + "";
		$scope.setTopicDescription();
	}

	/**
	* Sets topic description in editor and model
	* (Select Topic ng-change)
	*/
	$scope.setTopicDescription = function(){
		$scope.editShowHide = $scope.tog.show;
		$scope.trix = $scope.eventData.topics[$scope.editTopic].description.overviewHtml;
		$scope.editTopicTitle = $scope.eventData.topics[$scope.editTopic].title;
		$scope.editTopicPresentedBy = $scope.eventData.topics[$scope.editTopic].description.presentedBy;
	}

	/**
	* Prompts user to confirm update Topic information
	* if yes, update eventData
	* (Button "Save")
	*/
	$scope.saveTopicDescription = function(){
		if(confirm("Update Topic Information?")){
			$scope.eventData.topics[$scope.editTopic].description.overviewHtml = $scope.trix;
			$scope.eventData.topics[$scope.editTopic].title = $scope.editTopicTitle;
			$scope.eventData.topics[$scope.editTopic].description.presentedBy = $scope.editTopicPresentedBy;
		}
	}

	/**
	* Prompts user to confirm delete Topic
	* hides editor and resets topic to edit after deletion
	* (Button "Delete")
	*/
	$scope.deleteCurrentTopic = function(){
		if(confirm("Remove Topic. Any events attached to it may become broken. Continue?")){
			$scope.eventData.topics.splice($scope.editTopic,1);//remove topic
			$scope.editShowHide = $scope.tog.hide;//hide editor
			$scope.editTopic = 0;
		}
	}
});

//======================================================
//  Locations Controller
//======================================================
angular.module("rm_data").controller("location_ctrl", function($scope, $http, $filter, $sce){
	
	//Google Geocode component Types - Will match first Type based on order in this array
	var componentPriority = ['locality', 'administrative_area_level_3', 'neighborhood'];

	//temporary for data editing before saving to eventData
	$scope.editLocation = 0;
	$scope.editLocationName = null;
	$scope.editFacility = null;
	$scope.editLocationAddress = null;
	$scope.editLocationCoords = {lat:0, lng:0};
	$scope.editLocationComponents = {city: "", state: ""};


	/**
	* Adds a blank Location to eventData.locations
	*/
	$scope.newLocation = function(){
		//add placeholder location to array
		var newLoc = {
		  "id": Date.now(),
		  "locationName": "NewLocation",
		  "facility": "",
		  "address": "",
		  "components": {city:"", state:""},
		  "coordinates": {
			"lat": 39.4984581,
			"lng": -76.66619149999997
		  }
		};

		$scope.eventData.locations.push(newLoc);
		$scope.editLocation = $scope.eventData.locations.indexOf(newLoc) + "";
		$scope.setLocation();
	}

	/**
	* Sets Location in editor and model
	* (Select Location ng-change)
	*/
	$scope.setLocation = function(){
		var _location = $scope.eventData.locations[$scope.editLocation];
		$scope.editShowHide = $scope.tog.show;
		$scope.editLocationName = angular.isDefined(_location.locationName) ? _location.locationName : "";
		$scope.editFacility = angular.isDefined(_location.facility) ? _location.facility : "";
		$scope.editLocationAddress = angular.isDefined(_location.address) ? _location.address : "";

		$scope.editLocationCoords = {
			"lat": angular.isDefined(_location.coordinates) ? _location.coordinates.lat : "",
			"lng": angular.isDefined(_location.coordinates) ? _location.coordinates.lng : ""
		};
		$scope.editLocationComponents = {
			"city": angular.isDefined(_location.components) ? _location.components.city : "",
			"state": angular.isDefined(_location.components) ? _location.components.state : ""
		};
		
		
		setTimeout(function(){$scope.updateLocationMap();},30);//Sometimes map graphics do not load unless delayed until after visibility toggle
		
	}

	/**
	* Update google map when location editor changed
	*/
	$scope.updateLocationMap = function(){
		map = new google.maps.Map(document.getElementById('locMap'), {
		  center: $scope.editLocationCoords,
		  zoom: 15
		});	
		var marker = new google.maps.Marker({
		  position: $scope.editLocationCoords,
		  map: map,
		  title: $scope.editLocationAddress
		});
	}

	/**
	* Prompts user to confirm update Location information
	* if yes, update eventData
	* (Button "Save")
	*/
	$scope.saveLocation = function(){
		if(confirm("Update Location Information?")){
			$scope.eventData.locations[$scope.editLocation].locationName = $scope.editLocationName;
			$scope.eventData.locations[$scope.editLocation].facility = $scope.editFacility;
			$scope.eventData.locations[$scope.editLocation].address = $scope.editLocationAddress;
			$scope.eventData.locations[$scope.editLocation].coordinates = {
				"lat": $scope.editLocationCoords.lat,
				"lng": $scope.editLocationCoords.lng
			};
			$scope.eventData.locations[$scope.editLocation].components = $scope.editLocationComponents;
		}
	}

	/**
	* Prompts user to confirm delete Location information
	* if yes, remove from eventData.locations
	* (Button "Delete")
	*/
	$scope.deleteCurrentLocation = function(){
		if(confirm("Remove Location. Any events attached to this location may become broken. Continue?")){
			$scope.eventData.locations.splice($scope.editLocation,1);

			$scope.editShowHide = $scope.tog.hide;

			$scope.editLocation = 0;
		}
	}

	/**
	* Google geocode api 
	* Sets first match for GPS coords based on address
	* (Button "Get Lat/Lng")
	*/
	$scope.getLatLngGoogle = function(){
		//http://maps.google.com/maps/api/geocode/json?address=
		$http.get("//maps.google.com/maps/api/geocode/json?address="+$scope.editLocationAddress).then(function (response) {
			var dat = response.data;
			if(angular.isDefined(dat.results[0])){
				$scope.editLocationCoords.lat = dat.results[0].geometry.location.lat;
				$scope.editLocationCoords.lng = dat.results[0].geometry.location.lng;
				$scope.updateLocationMap();
			}
			//ES6 array.find() get city and state from google geocode
			if(angular.isDefined(dat.results[0].address_components)){
				var city = matchLocalityPriority(dat.results[0].address_components).short_name;//locality
				var state = dat.results[0].address_components.find(x => x.types[0] === 'administrative_area_level_1').short_name;//administrative_area_level_1
				$scope.editLocationDisplay = city + ', ' + state;
				$scope.editLocationComponents.city = city;
				$scope.editLocationComponents.state = state;
				
			}
		});
	}
	
	/**
	* Matches the first locality matching a set Type 
	* @param {Array} components - address components from google geocode
	* @return {Object} first matched address component
	* @return {Object} "Not Found" value if nothing was matched.
	*/
	function matchLocalityPriority(components){
		for(var cv=0;cv<componentPriority.length;cv++){
			for(var i=0;i<components.length;i++){
				if(components[i].types.indexOf(componentPriority[cv])>-1){
					return components[i];
					break;
				}
			}
		}
		return {short_name:"Not Found"};
	}
	
});


var routeParams = [];
/* Routes */
app.config(['$routeProvider',
  function($routeProvider) {
    $routeProvider.
      when('/locations/:locationId?', {
        templateUrl: 'partials/locations.html',
        controller: 'location_ctrl'
      }).
      when('/topics/:topicId?', {
        templateUrl: 'partials/topics.html',
        controller: 'topic_ctrl'
      }).
      when('/events/:eventId?', {
        templateUrl: 'partials/events.html',
        controller: 'event_ctrl'
      }).
      otherwise({
        templateUrl: 'partials/events.html',
        controller: 'event_ctrl'
      });
  }]);
</script>
</body>
</html>