<!doctype html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/rm-map.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script>
        function google_init(){
            
            //start app on google load
            console.log("gmap init");
            
        }
        
    </script>
    
<title>MMLIS RM Program Finder</title>
</head>
<body>
	<div id="map-container" data-ng-app="rm_app" data-ng-controller="map_ctrl">
		<div id="map-filter-controls">
            <form id="filter-controls" class="col-md-4">
                
                <!--Search Date Filter-->
                <div class="col-md-12">
                    <label>Date</label>
                    <div class="date_group input-group input-append date shadow" id="datePicker">
                        <input id="date-select" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="search.date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="date" value="Any" placeholder="Any" ng-change="filterDateUpdate()" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </div>
                </div>

                <!--Search Topic Filter-->
                <div class="col-md-12">
                    <label>Topic</label>
                    <select name="topic_select" id="topic-select" class="form-control shadow" data-live-search="true" ng-model="search.topic" ng-options="topic.title for topic in eventData.topics" ng-change="filterTopicUpdate()">
                        <option value="" ng-selected="true">Any</option>
                    </select>
                </div>

                <!--Search Location Filter-->
                 <div class="col-md-12">
                    <label>Location</label>
                     <select name="location_select" id="location-select" class="form-control shadow" data-live-search="true" ng-model="search.location" ng-options="location.city for location in eventData.locations" ng-change="filterLocationUpdate()">
                        <option value="" ng-selected="true">Any</option>
                    </select>
                    
                </div>

                <!-- Search Code Filter -->
                <div class="col-md-12">
                    <label>Code</label>
                    <select name="code_select" id="code-select" class="form-control shadow" data-live-search="true" ng-model="search.code" ng-options="event.code for event in eventData.events" ng-change="filterCodeUpdate()">
                        <option value="" ng-selected="true">Any</option>
                    </select>
                </div>
                
            </form>
            
            
			<div id="map-control"  class="col-md-8">
                <div id="map"></div>
                <div id="status"></div>
            </div>
            
		</div>

		<div id="map-results-container" ng-repeat="event in (filteredData = (eventData.events | eventFilter:search:this))">
			<div class="map-results-each col-md-12">
                <div class="result-date col-md-2">
                    <ul>
                        <li>{{parseDate(event.date) | date:"MMM"}}</li>
                        <li><b>{{parseDate(event.date) | date:"d"}}</b><sup>{{parseDate(event.date) | dateSuffix}} </sup><sub>{{parseDate(event.date) | date:"EEE"}}</sub></li>
                        <li>{{parseDate(event.date) | date:"yyyy"}}</li>
                        <li>March 6th, 2017</li>
                    </ul>
                </div>

				<div class="col-md-8">
					<h3>{{eventData.topics[event.topic].title}}</h3>
					<span>{{eventData.locations[event.location].address}}</span>
				</div>

				<div class="col-md-2 result-right">
					<h4>{{event.code}}</h4>
					<a href="#" class="rm-ico ico-eye">Program Description</a>
					<a href="#" class="rm-ico ico-check">Register</a>
				</div>


			</div>
		</div>
	</div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLahhfoVtxfV4AIjS-3v8MXCb-zn2ggH8&callback=google_init">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
    <script src="js/angular.min.js"></script>
    <script src="js/ui-bootstrap-tpls-2.3.2.min.js"></script>
    <script src="data/gmap-styles.js"></script>
    <script src="js/rm-map-reduce.js?nocache"></script>
    
    <script>

        var app = angular.module('rm_app', ['ui.bootstrap']);
        app.controller('map_ctrl', ['$scope', '$http', '$filter', function($scope, $http, $filter) {
			
            $scope.eventData = [];
            $scope.uniqueLocations = [];
			$scope.filteredData = [];
			 
			$http.get('data/event-data.json').then(successCallback, errorCallback);

			function successCallback(response){
				
				$scope.eventData = response.data;
				rmProgramFinder.init();
				
				if($scope.eventData.locations != null) {
					rmProgramFinder.updateMap($scope.eventData.locations); // setup markers
					
					var tmpData = [];
			        for(var i=0; i < $scope.eventData.locations.length;i++){
			            var city = $scope.getCity($scope.eventData.locations[i].address);
			            $scope.eventData.locations[i].city = city;
			            if(tmpData.indexOf(city)==-1){
				            tmpData.push(city);
				        }
			        }

			        $scope.uniqueLocations = tmpData;
					
				}

			};


			function errorCallback(error){
				console.log(error);
			}
			
			/* Filters */
            $scope.filterDate = false;
			$scope.filterTopic = {id:-1, "title":"Any"};
            $scope.filterLocation = -1;
			$scope.filterCode = false;
            
			$scope.search = {location:null, code:null, date:null, topic:null, $:null};
			$scope.filter = '$';
			$scope.changeFilterTo = function(pr) {
				$scope.filter = pr; 
			}

			$scope.getCity = function(address){
		        address = address.trim();// Trim the address.
		        var comma = address.indexOf(',');// Find the comma.
		        //return address.slice(1, comma);// Pull out the city.
		        return address.split(",")[1].trim();
			}
			
            /* Filter updates */
			$scope.filterDateUpdate = function(){
				
				console.log("date update", $scope.search.date);
				
			}
			
			$scope.filterTopicUpdate = function(){
				
				filterTopic = $scope.eventData.locations.indexOf($scope.search.topic);
				console.log($scope.filterTopic);
			}
			
			$scope.filterLocationUpdate = function(){

			}
			
			$scope.filterCodeUpdate = function(){
				console.log($scope.filterCode);
			}

			$scope.parseDate = function(date){
				return Date.parse(date);
			}
			
			$scope.matchingLocations = function(eventsData){
				var tmpMatched = [];
				console.log("data?", eventsData);
				for(var i = 0; i < eventsData.length; i++){
					if(tmpMatched.indexOf($scope.eventData.locations[eventsData[i].location])==-1){
						tmpMatched.push($scope.eventData.locations[eventsData[i].location]);
					}
				}
				return tmpMatched;
			}
			
			//Watch output/display data change
			$scope.$watchCollection('filteredData', function(newData, oldData) {
				rmProgramFinder.setDates(newData);
				rmProgramFinder.updateMap($scope.matchingLocations(newData));
			});
			
			//Watch output/display data change
			$scope.$watchCollection('search', function(newData, oldData) {
				console.log("search watch", $scope.search);
			});
			
			////////////////////
			
			$scope.today = function() {
				//$scope.dt = new Date();
			};
  $scope.today();

  $scope.clear = function() {
    $scope.search.date = null;
  };

  $scope.inlineOptions = {
    customClass: getDayClass,
    minDate: new Date(),
    showWeeks: true
  };

  $scope.dateOptions = {
    dateDisabled: disabled,
    formatYear: 'yy',
    maxDate: new Date(2017, 12, 31),
    minDate: new Date(),
    startingDay: 1
  };
  


  // Disable dates not in events data
  function disabled(data) {
	var cDate = $filter('date')(data.date, 'MM/dd/yyyy');
	var check = $scope.checkDateInEvents(cDate);
	return !check;
  }
  
	$scope.checkDateInEvents = function($date){
	 for(var i = 0; i < $scope.eventData.events.length; i++){
		if($scope.eventData.events[i].date == $date){
			return true;
			break;
		}
	 }
	 return false;
	}
	
/*
  $scope.toggleMin = function() {
    $scope.inlineOptions.minDate = $scope.inlineOptions.minDate ? null : new Date();
    $scope.dateOptions.minDate = $scope.inlineOptions.minDate;
  };

  $scope.toggleMin();*/
	$scope.popup1 = {
    opened: false
  };
  $scope.open1 = function($event) {
	  //$event.preventDefault();
    //$event.stopPropagation();
    $scope.popup1.opened = true;
	console.log("popup click");
  };

  $scope.open2 = function() {
    $scope.popup2.opened = true;
  };

  $scope.setDate = function(year, month, day) {
    $scope.dt = new Date(year, month, day);
  };

  $scope.formats = ['MM/dd/yyyy'];//, 'yyyy/MM/dd', 'dd.MM.yyyy', 'shortDate'];
  $scope.format = $scope.formats[0];
  $scope.altInputFormats = ['M!/d!/yyyy'];

 /* 

  $scope.popup2 = {
    opened: false
  };

  var tomorrow = new Date();
  tomorrow.setDate(tomorrow.getDate() + 1);
  var afterTomorrow = new Date();
  afterTomorrow.setDate(tomorrow.getDate() + 1);
  $scope.events = [
    {
      date: tomorrow,
      status: 'full'
    },
    {
      date: afterTomorrow,
      status: 'partially'
    }
  ];
*/
  function getDayClass(data) {
    var date = data.date,
      mode = data.mode;
    if (mode === 'day') {
      var dayToCheck = new Date(date).setHours(0,0,0,0);

      for (var i = 0; i < $scope.events.length; i++) {
        var currentDay = new Date($scope.events[i].date).setHours(0,0,0,0);

        if (dayToCheck === currentDay) {
          return $scope.events[i].status;
        }
      }
    }

    return '';
  }
		
		
            
}]);
		
	app.filter('dateSuffix', function($filter) {
		var suffixes = ["th", "st", "nd", "rd"];
		return function(input) {
			var dtfilter = $filter('date')(input, 'dd');
			var day = parseInt(dtfilter.slice(-2));
			var relevantDigits = (day < 30) ? day % 20 : day % 30;
			var suffix = (relevantDigits <= 3) ? suffixes[relevantDigits] : suffixes[0];
			return suffix;
		};
	});
	
	//Events Filter Options
	app.filter('eventFilter', function() {
		
		return function (events, searchFilter, $scope){
			
			var filtered = [];
			
			if(events!=null && events.length > 0){
				for (var i = 0; i < events.length; i++) {
					var event = events[i];
					var matched = false;
					//Filter by location
					
					if(searchFilter.location === null ||  event.location === $scope.eventData.locations.indexOf(searchFilter.location)){
						if (searchFilter.topic === null || event.topic === $scope.eventData.topics.indexOf(searchFilter.topic)){
							if ((searchFilter.date === null || typeof searchFilter.date == 'undefined') || new Date(event.date).getTime() == new Date(searchFilter.date).getTime()){
								if (searchFilter.code === null || event.code == searchFilter.code.code){
									matched = true;	
								}
							}
						}
					}
					
					if(matched){
						filtered.push(event);
					}
							
				}
			}

				
			return filtered;
		}
	});
	
	app.filter('topic', function($filter) {
		console.log("topic", $filter, $scope.topics.indexOf($filter));
		return $filter;	
	});
	
	app.filter('code', function($filter) {
		console.log("code", $filter, $scope.events.indexOf($filter));
		return $filter;	
	});
	
	app.config(['$qProvider', function ($qProvider) {
    $qProvider.errorOnUnhandledRejections(false);
	}]);

//filter search example http://jsfiddle.net/lopisan/vzQKk/1/


</script>
  
</body>
</html>