<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/rm-map.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css">
    <script>
        function google_init(){
            
            //start app on google load
            console.log("gmap init");
            
        }
        
    </script>
    
<title>MMLIS RM Program Finder</title>
</head>
<body>
	<div id="map-container" data-ng-app="rm_app" data-ng-controller="map_ctrl">
		<div id="map-filter-controls">
            <form id="filter-controls" class="col-md-4">
                
                <!--Search Date Filter-->
                <div class="col-md-12">
                    <label>Date</label>
                    <div class="date_group input-group input-append date shadow" id="datePicker">

                        <input id="date-select" type="text" class="form-control" name="date" value="Any" placeholder="Any" data-ng-model="date">

                        <span class="input-group-addon add-on"><i class="fa fa-calendar fa-fw glyphicon glyphicon-calendar" aria-hidden="true"></i></span>
                    </div>
                </div>

                <!--Search Topic Filter-->
                <div class="col-md-12">
                    <label>Topic</label>
                    <select name="topic_select" id="topic-select" class="form-control shadow" data-live-search="true" ng-model="filterTopic" ng-options="topic.title for topic in eventData.topics">
                        <option value="" ng-selected="true">Any</option>
                    </select>
                </div>

                <!--Search Location Filter-->
                 <div class="col-md-12">
                    <label>Location</label>
                     <select name="location_select" id="location-select" class="form-control shadow" data-live-search="true" ng-model="filterLocation" ng-options="location.facility for location in eventData.locations">
                        <option value="" ng-selected="true">Any</option>
                    </select>
                    
                </div>

                <!-- Search Code Filter -->
                <div class="col-md-12">
                    <label>Code</label>
                    <select name="code_select" id="code-select" class="form-control shadow" data-live-search="true" ng-model="filterCode" ng-options="event.code for event in eventData.events">
                        <option value="" ng-selected="true">Any</option>
                    </select>
                </div>
                
            </form>
            
            
			<div id="map-control"  class="col-md-8">
                <div id="map"></div>
                <div id="status"></div>
            </div>
            
		</div>

		<div id="map-results-container" ng-repeat="event in eventData.events">
			<div class="map-results-each col-md-12">
                <div class="result-date col-md-2">
                    <ul>
                        <li>{{parseDate(event.date) | date:"MMM"}}</li>
                        <li><b>{{parseDate(event.date) | date:"d"}}</b><sup>{{parseDate(event.date) | dateSuffix}} </sup><sub>{{parseDate(event.date) | date:"EEE"}}</sub></li>
                        <li>{{parseDate(event.date) | date:"yyyy"}}</li>
                        <li>March 6th, 2017</li>
                    </ul>
                </div>

				<div class="col-md-8">
					<h3>{{eventData.topics[event.topic].title}}</h3>
					<span>{{eventData.locations[event.location].address}}</span>
				</div>

				<div class="col-md-2 result-right">
					<h4>{{event.code}}</h4>
					<a href="#" class="rm-ico ico-eye">Program Description</a>
					<a href="#" class="rm-ico ico-check">Register</a>
				</div>


			</div>
		</div>
	</div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLahhfoVtxfV4AIjS-3v8MXCb-zn2ggH8&callback=google_init">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
    <script src="js/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

    <!--<script src="data/event-data.json"></script>-->
    <script src="data/gmap-styles.js"></script>
    <script src="js/rm-map.js"></script>
    
    <script>
    
        //var eventData = events;
        var resultData = [];
        var app = angular.module('rm_app', []);
        app.controller('map_ctrl', ['$scope', '$http', function($scope, $http) {
            $scope.eventData = null;			 
			 
			$http.get('data/event-data.json').then(successCallback, errorCallback);

			function successCallback(response){
				$scope.eventData = response.data;
				console.log($scope.eventData);
			}
			function errorCallback(error){
				console.log(error);
			}
			 
            
            //$scope.topics = eventData.topics;
            //$scope.locations = eventData.locations;
            
            
            $scope.filterTopic = {id:-1, "title":"Any"};
            $scope.filterLocation = {id:-1, "title":"Any"};
            
            //console.log($scope.locations);
            
            
             $scope.getLocation = function(_rel){
                return $scope.locations[_rel];
            }
            
            $scope.getTopic = function(_rel){
                return $scope.topics[_rel].title;
            }
			
			$scope.parseDate = function(date){
				return Date.parse(date);
			}
            
            
        }]);
		
		app.filter('dateSuffix', function($filter) {
		  var suffixes = ["th", "st", "nd", "rd"];
		  return function(input) {
			var dtfilter = $filter('date')(input, 'dd');
			var day = parseInt(dtfilter.slice(-2));
			var relevantDigits = (day < 30) ? day % 20 : day % 30;
			var suffix = (relevantDigits <= 3) ? suffixes[relevantDigits] : suffixes[0];
			return suffix;
		  };
	});

    
    </script>

    
</body>
</html>