/* MM Calendar Filter

-- filter menu --
selected bg 		#E5EEED;
Gradient start 		rgb(229,238,237)
Gradient end 		rgb(201,220,217)
filter tab off		#B1CECA;


--calendar--
dark green	 		rgb(39,106,97);
controls			rgb(211,228,226);
very light green	#f4f4f4;

 */
@keyframes highLightRow {
  0% {
  }
  50% {
    font-weight:bold;
    background-color:rgba(128,128,128,0.9);
  }
  100% {
    
    
  }
}
#filter-results tr > td {	
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
tr.highLightRow > td {
  background-color:rgb(211,228,226) !important;

  font-weight:bold;
  border-top: 1px solid rgb(39,106,97);
  border-bottom:1px solid rgb(39,106,97);
  animation-duration: 1s;
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

  border-collapse:collapse;
}

#program-calendar {
	margin:15px 15px 15px 25px;
}

#filter-container {
	display:table-row;
}

/*first-level div's in container*/
#filter-container>div {
	border:5px solid #fff;
	display:table-cell;
	vertical-align:top;
}

#filter {
	width:260px;
/* Firefox v3.6+ */
background-image:-moz-linear-gradient(0% 49% 90deg,rgb(229,238,237) 0%,rgb(201,220,217) 100%); 
/* safari v4.0+ and by Chrome v3.0+ */
background-image:-webkit-gradient(linear,0% 49%,100% 49%,color-stop(0, rgb(229,238,237)),color-stop(1, rgb(201,220,217)));
/* Chrome v10.0+ and by safari nightly build*/
background-image:-webkit-linear-gradient(90deg,rgb(229,238,237) 0%,rgb(201,220,217) 100%);
/* Opera v11.10+ */
background-image:-o-linear-gradient(90deg,rgb(229,238,237) 0%,rgb(201,220,217) 100%);
/* IE v10+ */
background-image:-ms-linear-gradient(90deg,rgb(229,238,237) 0%,rgb(201,220,217) 100%);
background-image:linear-gradient(90deg,rgb(229,238,237) 0%,rgb(201,220,217) 100%);
width:259px;
height:295px;
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe5eeed,endColorstr=#ffc9dcd9,GradientType=1)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe5eeed,endColorstr=#ffc9dcd9,GradientType=1);
padding-bottom:5px;	
}

#filter-topic, #filter-location, #filter-distance {
	display:none;
	overflow-y:scroll;
	height:290px;
	width:255px;
}

#filter .active {
	background:#E5EEED;
}

#filter .toggledVisible {
	display:block;	
	clear:both;
}

#filter-menu {
	display:block;
	margin:0px 5px 0 8px;
	width:247px;
}

#filter-menu > a {
	background:#B1CECA;
	font-size:14px;
	color:#266A60;
	padding:8px 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin:5px 0 0 0;
	display:block;
	float:left;
	text-decoration:none;
}

#filter-menu > a.tabOn {
	background:#fff;
}

.cal2 {
  max-width: 280px;
  margin: 5px;
  font-family:Verdana, Geneva, sans-serif;
  border-bottom:rgb(39,106,97);
  padding:0;
}
.cal2 .clndr .clndr-controls {
  display: block;
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  	background-color:rgb(211,228,226);
	width:280px;
	height:45px;
}
.cal2 .clndr .clndr-controls .clndr-previous-button {
  float: left;
  width: 20px;
  text-align: left;
  cursor: pointer;
  font-size:26px;
  height:40px;
  padding-top:5px;
  padding-left:5px;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal2 .clndr .clndr-controls .clndr-previous-button:hover {
  background-color: #f4f4f4;
}
.cal2 .clndr .clndr-controls .month {
  float: left;
  width: 80%;
  text-align: center;
  font-family:Verdana, Geneva, sans-serif;
font-size:26px;
line-height:120%;
color:rgb(38,106,96);
padding-top:6px;
}
.cal2 .clndr .clndr-controls .clndr-next-button {
  float: right;
  width: 20px;
  text-align: right;
  cursor: pointer;
  font-size:26px;
  height:40px;
  padding-top:5px;
  padding-right:5px;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal2 .clndr .clndr-controls .clndr-next-button:hover {
  background-color: #f4f4f4;
}
.cal2 .clndr .clndr-grid {
  text-align: center;
  border-bottom: 8px solid rgb(39,106,97);
  display: inline-block;
}
.cal2 .clndr .clndr-grid .header-day {
  float: left;
  width: 40px;
  height: 26px;
  padding-top:8px;
background-color:rgb(39,106,97);
font-size:15px;
line-height:120%;
color:rgb(212,227,225);
}
.cal2 .clndr .clndr-grid .day,
#filter-legend .day {
  float: left;
  width: 38px;
  height: 40px;
background-color:rgb(177,206,202);
border-collapse:collapse;
border:1px solid rgb(39,106,97);

font-size:12px;
line-height:120%;
color:rgb(33,33,33);
text-align:left;
}
.cal2 .clndr .clndr-grid .day.event,
#filter-legend .day.event {
   background-color: rgb(211,228,226);
}
.cal2 .clndr .clndr-grid .day.today,
#filter-legend .day.today {
	background-color:rgb(0,102,102);
 	color:#fff;
	
}
#filter-legend {
	font-size:10px;
	margin:5px 0;	
}
#filter-legend .day {
height:15px;
width:15px;
display:inline-block;	
float:none;
}
.cal2 .clndr .clndr-grid .empty,
.cal2 .clndr .clndr-grid .adjacent-month {
  float: left;
  width: 38px;
  height: 40px;
  background: rgb(177,206,202);
  color:rgb(144,167,164);
}
.cal2 .clndr .clndr-today-button {
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.cal2 .clndr .clndr-today-button:hover {
  background-color: #ddd;
}

#filter-topic ul,
#filter-location ul,
#filter-distance ul {
	width:219px;
	padding:5px;
	margin:0 8px;
	list-style:none;
	background:#fff;
}

#filter-topic ul li,
#filter-location ul li,
#filter-distance ul li {
	list-style:none;
	border-radius:4px;
	border:1px solid transparent;
	font-size:13px;
	color:rgb(38,106,95);
	padding:0;
	margin:1px;
}

#filter-topic ul li input,
#filter-location ul li input,
#filter-distance ul li input {
	margin-right:5px;
	float:left;
}

#filter-topic ul li label,
#filter-location ul li label,
#filter-distance ul li label {
	padding:3px;
	display:inline-block;
}

#filter-topic ul li:hover,
#filter-location ul li:hover,
#filter-distance ul li:hover {
	border-color:rgb(177,206,202);
	border-width:1px;
	border-style:dotted;
	cursor:pointer;
}

#filter-topic ul li div,
#filter-location ul li div,
#filter-distance ul li div {
	display:block;
	width:187px; 
	margin-left:25px;
}


#filter-topic ul li a,
#filter-location ul li a,
#filter-distance ul li a {
	padding:5px;
}

#filter-results {
	width:548px;
		/* Firefox v1.0+ */
	-moz-border-radius:3px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius:3px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius:3px;
	border-spacing:0;
	margin-top:10px;
}

#filter-results tr td {
	padding:5px;
}

#filter-results tr:nth-child(2n+1) td {
	background-color:#E5EEED;	
}

#filter-results th {
	font-size:12px;
	color:rgb(38,106,95);
	background-color:rgb(203,222,220);
	height:26px;
	text-align:left;
	padding-left:5px;
}

.filter-details-modal {
	width:590px;
	padding-bottom:10px;
	background-color:#fff;
	text-align:left;
}
.filter-details-modal h2 {
	font-size:16px;
	padding:10px;
	color:#fff;
	margin-top:0;
	font-weight:bold;
/* Firefox v3.6+ */
background-image:-moz-linear-gradient(50% 0% 180deg,rgb(66,183,166) 0%,rgb(110,158,151) 89%,rgb(224,235,233) 98%,rgb(255,255,255) 100%); 
/* safari v4.0+ and by Chrome v3.0+ */
background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(1, rgb(66,183,166)),color-stop(0.11, rgb(110,158,151)),color-stop(0.02, rgb(224,235,233)),color-stop(0, rgb(255,255,255)));
/* Chrome v10.0+ and by safari nightly build*/
background-image:-webkit-linear-gradient(0deg,rgb(66,183,166) 0%,rgb(110,158,151) 89%,rgb(224,235,233) 98%,rgb(255,255,255) 100%);
/* Opera v11.10+ */
background-image:-o-linear-gradient(180deg,rgb(66,183,166) 0%,rgb(110,158,151) 89%,rgb(224,235,233) 98%,rgb(255,255,255) 100%);
/* IE v10+ */
background-image:-ms-linear-gradient(180deg,rgb(66,183,166) 0%,rgb(110,158,151) 89%,rgb(224,235,233) 98%,rgb(255,255,255) 100%);
background-image:linear-gradient(180deg,rgb(66,183,166) 0%,rgb(110,158,151) 89%,rgb(224,235,233) 98%,rgb(255,255,255) 100%);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff42b7a6,endColorstr=#ffffffff,GradientType=0)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffffffff,endColorstr=#ff42b7a6,GradientType=0);
}
.filter-details-modal>h3,
.filter-details-modal>p,
.filter-details-modal>div {
	margin:10px;
	color:#266A5F;
}
.filter-details-modal p {
	font-weight:normal;
}
.filter-details-modal div {
	line-height:18px;
}
.filter-details-modal {
	font-weight:bold;
}

.filter-details-modal div.modal-map {
	width:570px;;
	height:200px;
	padding:0px;
	margin:0;
	border:1px solid #999;
}

.float-right {float:right;}

.modal-register a {
	margin-top:10px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	border:1px solid #266A5F;
	padding:10px 0;
	width:100%;
	display:block;
}
.modal-register a:hover {
	background-color:#E5EEED;
}

/* App overlay plugin */
#overlay-app {
	position:fixed;
	top:0;
	left:0;
	width: 100%; height: 100%;
}

#overlay-app div#overlay-mask {
	position: fixed; top: 0; left: 0; width: 100%; height: 100%;
	background: #fff 50% 50%; opacity: .50; filter:Alpha(Opacity=50);
	z-index:998;
}

#overlay-app div#overlay-contents {
	background:url(../../images/icons/loading.gif) center center no-repeat;
	/*border-radius:10px;*/
	position:absolute;
	margin:0 auto;
	left:auto;
	right:auto;
	top:auto;
	bottom:auto;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	z-index:999;
}

/* images */
#overlay-app div#overlay-contents  {
	box-shadow: 0 0 5px #555;
	border-radius:5px;
}