html, body, #site {
	height:100%;
}
body, td, th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
body {
	background: url(../images/mm-bkgd.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	
}
#site {
	background-image: url('../images/common/bg-a.gif');
	background-repeat:repeat-y
}
#header {
	background-image: url('../images/common/hdrbg.jpg');
	background-repeat:repeat-x;
	background-position: 0 0;
	height: 55px
}
.divider {
	width:1px;
	background-color:#FFFFFF;
}
.greenbg {
	background-image: url('../images/common/green_bg.gif');
	background-repeat:repeat-y
}
.ltgreenbg {
	background-image: url('../images/common/pod_bg.gif');
	background-repeat:repeat-y
}

#info {
	width:768px;
	border-bottom:1px solid #fff;
	font-size:10px;
}
#info td {
	font-size:10px;
}
a, a:link {
	color:#13594E;
}
a:hover {
	color:#022C25;
}
.infotext  {
	font-size:10px;
}
.infotext p {
	margin:0;
	padding:8px;
}
.infotext ul {
	padding: 0 0 0 30px;
	margin:8px 8px 0 8px;
}
.fields {
	width:155px;
}
#footer {
	color:#ccc;
	text-align:center;
	font-size:10px;
}
#footer img {
	float:right;
	vertical-align:baseline;
	margin-right:18px;
}
#search {
	width:auto;
	float:right;
	height:auto;
	margin:20px 10px 15px 0;
}
#login {
	width:auto;
	height:auto;
	margin:0;
}
.interior {
	background-image: url('../images/common/pagebg.jpg');
	background-repeat:repeat-y
}
.interior2 {
	background-color:#FFFFFF;
}
#subnav {
	background-image: url('../images/common/subnavbg.gif');
	background-repeat:repeat-y
}
#subnav p {
	margin:0;
	padding:0;
	text-align:left;
}
#subnav a, #subnav a:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#498F8F;
	text-decoration:none;
	margin:0;
	display:block;
	white-space:nowrap;

	background-repeat:no-repeat; padding-left:8px; padding-right:5px; padding-top:5px; padding-bottom:5px; background-position-y:50%
}
#subnav a:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#054D40;
	text-decoration:none;
	margin:0;
	display:block;
	white-space:nowrap;

	background-repeat:no-repeat; padding-left:8px; padding-right:5px; padding-top:5px; padding-bottom:5px; background-position-y:50%
}
#subnav a.last, #subnav a.last:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#498F8F;
	text-decoration:none;
	margin:0;
	display:block;
	white-space:nowrap;
	background-image:url('none');padding-left:8px; padding-right:5px; padding-top:5px; padding-bottom:5px
}
#subnav a.last:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#054D40;
	text-decoration:none;
	margin:0;
	display:block;
	white-space:nowrap;
	background-image:url('none');padding-left:8px; padding-right:5px; padding-top:5px; padding-bottom:5px
}
#my_account {
	background-image: url('../images/common/mabg.gif');
	background-repeat:repeat-y;
	margin-bottom:10px
}
#int_login {
	width:160px;
	height:auto;
	padding: 9px 0;
	margin:0 0 0 9px;
	font-size:10px;
}
#page_header {
	border-bottom:1px solid #99cccc;
	padding-left:1px;
}
#breadcrumb {
	margin:10px 10px 0 0;
}
#breadcrumb a, #breadcrumb a:link {
	color: #0B5246;
	text-decoration: none;
}
#breadcrumb a:hover {
	text-decoration: underline;
}
#title {
	padding-top: 10px;
	color: #266A60;
	font-size: 13px;
	font-weight: bold;
	vertical-align: baseline;
}
#right_menu {
	float: right;
	width: 143px;
	margin: 0 25px 25px 25px;
	background-color: #86B2B2;
	color: #FFFFFF;
	font-size: 10px;
}
.right_links {
	padding: 10px 5px 35px 15px;
}
.right_links a, .right_links a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.right_links a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
.right_links ul{
	margin:0;
	padding:0;
	list-style:none;
}
.right_links li{
	background:url('../images/common/nav_bullet.gif') no-repeat 0 4px;
	padding-left:10px
}


#content {
	padding: 15px 25px 100px 28px;
}
#content h2 {
	margin-bottom:1px;
	margin-top:15px;
	}
#content ul {
	list-style-image:  url('../images/common/bullet.gif');
	list-style-position: outside
}
h1 {
	font-size: 12px;
	color: #095144;
	font-weight: bold;
}
h2 {
	font-size: 11px;
	color: #095144;
	font-weight: bold;
}
.gr_bld {
	font-size: 11px;
	color: #095144;
	font-weight: bold;
}
#zebra_table {
	border:1px solid #D6D6D6;
	padding: 2px;
}
.ztitle td {
	background-color: #99CCCC;
	font-weight: bold;
	height: 26px;
	line-height: 26px;
	vertical-align: middle;
	padding-left: 8px;
	color: #003333;
}
.zheading td {
	background-color: #FFF;
	font-weight: bold;
	height: 26px;
	line-height: 26px;
	vertical-align: middle;
	padding: 0 5px 0 8px;
}
.zgrey td {
	height: 26px;
	line-height: 26px;
	vertical-align: middle;
	padding: 0 5px 0 8px;
	background-color: #E9E9E9;
}
.zwhite td {
	height: 26px;
	line-height: 26px;
	vertical-align: middle;
	padding: 0 5px 0 8px;
	background-color: #FFF;
}
.smtxt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#498F8F;
	text-decoration:none;
}
a.smtxt, a.smtxt:link {
	color:#13594E;
	text-decoration:underline;
}
a.smtxt:hover {
	color:#022C25;
	text-decoration:underline;
}
img.marginLeft{
	margin-left:20px;
}


/*  FORMS  */
form#feedback{
	border:1px solid #d5d5d5;
	margin:15px 15px 0 15px;
	padding:5px 20px 20px 20px;
}
#feedback label{
	display:block;
}
#feedback label.inline{
	display:inline;
	margin:0px 5px;
}
#feedback .radio{
	margin:0 0 15px 0;
}
#feedback .textfield input,
#feedback .textfield textarea{
	margin:4px 0 8px 0;
	border:1px solid #999;
}
#feedback textarea{
	width:350px;
	height:80px;
}
#feedback .buttons input{
	margin:15px 15px 0 0;
}


/* TABLE  */
tr.title td{
	background:#99cccc;
	padding:10px 5px;
	font-weight:bold;
	color:#003333;
}
tr.even td{
	background:#FFF;
	padding:10px 5px;
}
tr.odd td{
	background:e9e9e9;
	padding:10px 5px;
}
.tblBorder{
	border:1px solid #e9e9e9;
	padding:2px;
}
.Brdr{
	border:1px solid #e9e9e9;
	padding:2px;
	float:left;
}
.clear{
	clear:both;
}
table#rm_resources td{
	text-align:center;
}
table#stress td{
	padding:8px 15px;
	background:e9e9e9;
}
.green{
	color:#008000;
}
.red{
	color:#FF0000;
}
table#formTbl td{
	padding:6px;
}
table.mail-form {
	border:1px solid #DDD;
}
table.mail-form tr.even td{
	border-top:1px solid #DDD;
}
table.mail-form td.right{
	border-right:1px solid #DDD;
}
.topTr td{
	background:#FFF;
	padding:10px 5px;
}
p.modified{
	/*margin:-30px 0 0 0;*/
	font-size:9px;
	
	position:absolute;
	left:500px;
	width:235px;
	text-align:right;
	color:#676767;
	margin-top:-29px !IMPORTANT;
}

#footer p {
	padding:10px;
	margin:0px;
	}

span#head_nav{
	color:#CCFFFE;
	margin-top:-2px;
	margin-right:20px;
}
span#head_nav a,
span#head_nav a:link{
	color:#CCFFFE;
	text-decoration:underline;
}
span#head_nav a:hover{
	color:#13594E;
	text-decoration:underline;
}
.searchtext
{
	width:auto;
	float:right;
	height:auto;
	margin:20px 10px 15px 0;
	font-family: verdana, arial, helvetica;
	font-size: 11px;
	font-weight: normal;
	color: #626278;
}

.button-style {
	background-image:-moz-linear-gradient(51% 0% -90deg,rgb(67,122,113) 0%,rgb(67,122,113) 52%,rgb(38,96,87) 100%); 
	background-image:-webkit-gradient(linear,51% 0%,51% 125%,color-stop(0, rgb(67,122,113)),color-stop(0.52, rgb(67,122,113)),color-stop(1, rgb(38,96,87)));
	background-image:-webkit-linear-gradient(-90deg,rgb(67,122,113) 0%,rgb(67,122,113) 52%,rgb(38,96,87) 100%);
	background-image:-ms-linear-gradient(-90deg,rgb(67,122,113) 0%,rgb(67,122,113) 52%,rgb(38,96,87) 100%);
	background-image:linear-gradient(180deg,rgb(67,122,113) 0%,rgb(67,122,113) 52%,rgb(38,96,87) 100%);
	border: 1px solid #6F9C99;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff437a71,endColorstr=#ff266057,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff437a71,endColorstr=#ff266057,GradientType=0);

	border:1px solid #6F9C99;
	color:#fff;
	font-size:1.1em;
	
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	transition:all 0.25s ease;
}

.login-button {
	border-radius:.5em;
	width:90%;
	height:25px;
	
	display:block;

}


.button-style:hover,
.button-style:focus{
	background-size:50px 200px;
	background-position-y:25px;
	border:1px solid #6F9C99;
}

.button-style:active{
	transform:scale(120%,120%);
	border:1px solid #fff;
}